<h2>Logout?</h2>
<form class="" action="/session/logout" method="post">
    <input type="submit" name="name" value="Yes!">
</form>

<br>

<form class="" action="../message/messages" method="get">
    <input type="submit" name="name" value="No!">
</form>