<h1>Register</h1>

<form class="" action="/session/register" method="post">
    First name:<br>
    <input type="text" name="firstname" value="">
    <br><br>
    Last name:<br>
    <input type="text" name="lastname" value="">
    <br><br>
    User name:<br>
    <input type="text" name="username" value="">
    <br><br>
    Password:<br>
    <input type="password" name="password" value="">
    <br><br>

    <button>Register</button>
</form>