<h1 class="">Hello!</h1>

<form class="" action="/" method="post">
    <h3>Login</h3>
    User name:
    <input type="text" name="username" value="">
    Password:
    <input type="password" name="password" value="">

    <button>Login</button>
</form>

<br><br>

<a href="/session/register">Register here!</a>
<br>
<a href="/message/messagesPublic">Messages</a>