<h2>Remove?</h2>
<form class="" action="/message/delete/{{id}}" method="post">
    <input type="submit" name="name" value="Yes!">
</form>

<br>

<form class="" action="/message/messages" method="get">
    <input type="submit" name="name" value="No!">
</form>