<p>
    Messages
</p>

<ul>
    {{#each messages}}
        <li>{{ text }} <a href="delete/{{id}}">Remove</a><a href="update/{{id}}">Update</a></li>
    {{/each}}
</ul>



<form class="" action="/message/messages" method="post">
    <input type="text" name="message" value=""><br>
    <button>Send Message!</button>
</form>

<br>
<a href="../session/logout">Logout</a>