<p>Update message</p>


<form class="" action="/message/update/{{id}}" method="post">
    <input type="text" name="message" value={{ text }}><br>
    <button>Update Message!</button>
</form>

<br>

<form class="" action="/message/messages" method="get">
    <input type="submit" name="name" value="Go back">
</form>