<p>Update message</p>

<textarea id="textArea" form="message" name="textArea"> {{ text }} </textarea>
<form id="message" action="/message/update/{{id}}" method="post">

    <button>Update Message!</button>
</form>

<br>

<form class="" action="/message/messages" method="get">
    <input type="submit" name="name" value="Go back">
</form>