.inlineBtn {
    display: inline;
}

.bodyColor {

    background-color: aliceblue;
}

.divClass {
    margin:auto;
    background: rgba(255, 255, 255, 0.86);
    max-width:600px;
    min-height:350px;
    padding:10px;
    border:1px solid #000000;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.43);
    text-align: center;

}

.divClass ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

.divClass ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.divClass ul li:last-child {
    border-bottom: none
}

.removeLink:link, .removeLink:visited {
    background-color: #d9d9d9;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    float: right;
    border-radius: 4px;
    margin-right: 2px;
    border:1px solid #000000;
}


.removeLink:hover, .removeLink:active {
    background-color: #d9d9d9;
}

.success {
    background-color: rgba(10, 255, 3, 0.68);
    padding: 3px;
    margin:auto;
    max-width:300px;
}

.errorFlash {
    background-color: rgba(255, 33, 0, 0.68);
    padding: 3px;
    margin:auto;
    max-width:300px;
}